<!DOCTYPE html>
<html ng-app>
<head>
    <title>Angular Test Puzzle</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/helpers/arrayHelpers.js"></script>
    <script src="scripts/controllers/number.js"></script>
    <script src="scripts/controllers/tile.js"></script>
    <link href="styles/bootstrap.css" rel="stylesheet">
    <link href="styles/basic.css" rel="stylesheet">
</head>

<body>
    <div class="container" ng-controller="PuzzleCtrl">
        <div class="row btn-group controls">
            <button ng-click="randomize()" class="btn btn-danger">Reset</button>
            <button ng-click="addSize(1)" class="btn"><i class="icon-plus"></i></button>
            <button class="btn disabled">Difficulty: {{size}}</button>
            <button ng-click="addSize(-1)" class="btn"><i class="icon-minus"></i></button>
        </div>

        <div class="row board board-{{size}}" ng-init="randomize()">
            <div ng-repeat="piece in board">
                <div class="piece piece-{{piece.value}}" ng-click="pieceClick($index)"></div>
            </div>
        </div>

        <div class="row status-bar">
            <div class="alert alert-info" ng-hide="finished()">Time: {{counter | number}} seconds</div>
            <div class="alert alert-success" ng-show="finished()">Game Finished!</div>
        </div>
    </div>

    <div class="container" ng-controller="NumberCtrl">
        <div class="row board board-{{size}}" ng-init="randomize()">
            <div ng-repeat="piece in board">
                <div class="piece piece-number piece-number-{{piece.value}}" ng-click="pieceClick($index)"><span ng-hide="pieceEmpty($index)">{{piece.value}}</span></div>
            </div>
        </div>
    </div>
</body>

</html>